@each $color in red, green, blue, black {
  .soldier.#{$color}:not(.disabled) {
    background: url("../img/unit-soldier-#{$color}.png") no-repeat 0px -40px;
    background-size: cover;
  }
}

.soldier.disabled {
  background: url("../img/unit-soldier-gray.png") no-repeat 0px -40px;
  background-size: cover;
}